# Loan example environment
# Convenience split from root `.env` — use the same CC3 Testnet values.

SOURCE_CHAIN_KEY=1
PROOF_BUILDER_URL="https://prover.cc3-testnet.creditcoin.network"
CREDITCOIN_RPC_URL="https://rpc.cc3-testnet.creditcoin.network"
EVM_V1_DECODER_LIBRARY_ADDRESS="0x04B9ae8562D8Cc5bbbBbBB759080dDC30B56D18B"

## User-provided
SOURCE_CHAIN_RPC_URL=""
CREDITCOIN_WALLET_PRIVATE_KEY=""

ASC_LOAN_MANAGER_CONTRACT_ADDRESS=""
SOURCE_CHAIN_LOAN_CONTRACT_ADDRESS=""
SOURCE_CHAIN_ERC20_CONTRACT_ADDRESS=""

LENDER_WALLET_PRIVATE_KEY=""
BORROWER_WALLET_PRIVATE_KEY=""
